<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <script src="public/main.js" defer></script>
</head>
<body>
    <h1>soundPath</h1>
    <h3>Find the right gear for your sound</h3>
    <p>Find personalized equipment, starter kits, and join communities all in one place! </p>
    <p>Sign up today and start your musical journey</p>
    <button id="signup-button" onclick="window.location.href='login.html'">Get Started</button>
    <img src="\public\img\vinyl-img.svg" alt="vinyl record" id="vinyl-img">
    <div id="info-section">
        <h2> Why choose soundPath?</h2>
        <div class="info-item">
            <h3>Personalized Equipment Recommendations</h3>
            <p>You tell us how advanced you are and what your 
                looking for and well give you a personalized list 
                of what we think you’ll love!</p>
        </div>
        <div class="info-item">
            <h3>Starter Kits</h3>
            <p>Just starting out? No biggie! Well give you 
                a step-by-step checklist of the essentials you 
                need to thrive!</p>
        </div>
        <div class="info-item">
            <h3>Unbiased Rankings</h3>
            <p>Unlike generic review sites, we provide 
                upgrade guidance, education and community. This 
                allows you to spend less time researching and more time 
                doing what you love!</p>
        </div>
    </div>
</body>
</html>